.container {
  margin-top: 1rem;
  border: solid 2px #dcdcdc;
  //background-color: red;
  .header {
    background-color: #dddddd;
    display: flex;
    align-items: center;
    .product_id {
      width: 15%;
      margin-left: 2rem;
      span {
        margin-left: 1rem;
      }
    }
    .product_status {
      width: 10%;
      span {
        margin-left: 1rem;
      }
    }
    .product_edit_button {
      margin-left: auto;
      margin-right: 2rem;
      background-color: #585858; /* Green */
      border: none;
      border-radius: 12px;
      color: white;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      //margin: 4px 2px;
      cursor: pointer;
    }
  }
  .body {
    padding: 2rem;
    display: flex;
    .product_image_section {
      .img {
        min-width: 6%;
        max-width: 4rem;
        //height: 60px;
      }
    }
    .product_detail_section {
      margin-left: 2rem;
      width: 85%;
    }
  }
}
