@import 'layout';

.wrapper {
  //margin-left: 2rem;
  margin-right: 2rem;
  height: 100vh;
  //width: 100vw - 2rem;
  display: flex;
  .sidebar {
    //width: 12rem;
    //background-color: orange;
    display: flex;
    flex-direction: column;
    // .sidebar_items {
    //   margin-top: 1rem;
    //   cursor: pointer;
    // }
  }
  .main {
    //background-color: blue;
    width: 100%;
    .main_container {
      margin: 1rem;
    }
  }
}
