.product {
  margin-right: 2%;
  margin-bottom: 3%;
  width: 31%;
}

.img {
  cursor: pointer;
  width: 100%;
}

.img_name {
  margin-top: 1.5rem;
  font-family: 62.5%/1.5 'CalibreLight', 'Maison Neue Light', Helvetica, Arial,
    Sans-Serif;
  letter-spacing: 0.15em;
  //font-size: 1.2em;
  text-decoration: none;
  font-style: normal;
  color: #808285;
  font-weight: 200;
  cursor: pointer;
}
